@page "/setting-management"
@using Volo.Abp.Features
@using Volo.Abp.SettingManagement
@attribute [RequiresFeature(SettingManagementFeatures.Enable)]

@* ************************* PAGE HEADER ************************* *@
<PageHeader Class="site-page-header" Title="@L["Settings"]"></PageHeader>
<div style="background-color: var(--bs-white); padding: 1rem;margin-top: 1rem;">
    <Tabs @bind-ActiveKey="@SelectedGroup" TabPosition="TabPosition.Left">
        @foreach (var group in SettingComponentCreationContext.Groups)
        {
            <TabPane Tab="@group.DisplayName" Key="@group.Id">
                <h2>@group.DisplayName</h2>
                <Divider />
                @{
                    SettingItemRenders.Add(builder =>
                    {
                        builder.OpenComponent(0, group.ComponentType);
                        builder.CloseComponent();
                    });
                }

                @SettingItemRenders.Last()
            </TabPane>
        }
    </Tabs>
</div>